{#
UI Element template
type: menu_buttons
element fields :
    items:
        label
        route
        icon
#}

<div class="ui grid center aligned doubling">
    {% for item in element.items %}
        <div class="four wide column">
            <a href="{{ path(item.route) }}" class="ui basic big fluid button">
                <i class="icon {{ item.icon }}"></i>
                {{ item.label }}
            </a>
        </div>
    {% endfor %}
</div>
